.DivBDFONDOUN {
    color: black;
    text-align: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100% !important;

    background-repeat: repeat-x;

}

.DivBDFONDOIMAGEN {
    color: black;
    text-align: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100% !important;

    background-repeat: repeat-x;
    background-image: url(https://cdn.hipwallpaper.com/m/24/25/QpOhy4.jpg),
    linear-gradient(#6e859c, #c0ccd8);}

.divFOTOUN {
    width: 8vw !important;
    height: 10vw;
    border: 3px solid black;
    background: none;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.FotoUB {
    width: 6vw !important;

    height: 9vw!important;
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 250px;

}


.divFOTOUN:hover{
    width: 7vw !important;
    height: 10vw;
    border: 3px solid white;
    background: #bec3c7;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);




}
.punto{
margin-top: -4vw;
display: none;
text-shadow: 0 0 10px white;
color:#e3231e;

}
.FotoUB:hover{
    margin-top: -1vw;

}
.divFOTOUN:hover > .punto{
    display: block;
    font-size: 3vw;
  }

/*
  

	content: "1P"!important;
		
			color: #e3231e;
        
            position: absolute;
			text-align: center;
			top: -15px;
			left: 50%;
			transform: translateX(-50%);
			font-size: 36px;*/