.DivBDFONDOUN {
    color: black;
    text-align: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100% !important;

    background-repeat: repeat-x;
}

.divFOTOUN {
    width: 8vw !important;
    height: 10vw;
    border: 3px solid #555;
    background: #bec3c7;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.FotoUB {
    width: 8vw !important;

    height: 10vw;


}


.divFOTOUN1 {

    width: 8vw !important;
    height: 10vw;
    border: 3px solid #555;
    background: #428bca;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg, -20deg);


}


@supports(object-fit: cover){
    .divFOTOUN1 .FotoUB1{
        width: auto;
      height: 30vw;
      object-fit: cover;

    }
}
/*     
      object-fit: cover;
      object-fit: none;
      object-fit: scale-down; */


      .narrow {
        width: 100px;
        height: 150px;
        margin-top: 10px;
      }




      
.FotoUB1{

    height: 10vw;


}

.Personaje0 {
    background: #428bca !important;
}



.Personaje1 {
    transform: skew(0deg,40deg);

    background: rgb(230, 45, 45) !important;
}