.imgAtaque{
    height:  1.6vw!important;

}
.DivGeneral{
    background-color: honeydew!important;
    color:black;
}
.nombreAtaques{
background-color: rgba(128, 128, 128, 0.438);

}
.NombrePers{
    text-align: center!important;
    min-width: 100%!important;
}

.TablaGeneral{
    border-radius: 0;
    border: 1px black solid

  
}
.MuiTableCell-head{

    border: 1px black solid

}
.MuiTableCell-body  {
    border: 1px black solid
} 
.ImagenCabecera{

background-color: gray;
width: 100%;
}