.imgAtaque{
    height:  1.6vw!important;

}
.DivGeneral{
    background-color: honeydew!important;
    color:black;
}
.nombreAtaques{
background-color: rgba(128, 128, 128, 0.438);

}
.NombrePers{
    text-align: left!important;
    min-width: 100%!important;
}
.fondo1{
  
   background-color: honeydew;
   height: 10vw;

}


.prug{
height: 10vw;
    background-position: right right;
    background-size: 100% 200%!important;
    display: block;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)), url(https://steamcdn-a.akamaihd.net/steam/apps/574980/extras/steam_header.png?t=1589582752);
    background-repeat: no-repeat;

}
.TablaGeneral{
    border-radius: 0;
}
.MuiTableCell-head{

    border: 1px black solid

}
.MuiTableCell-body  {
    border: 1px black solid
} 
