.DivPrincTier {
    margin-left: 8vw;
    margin-right: 8vw;
    background-color: rgba(0, 0, 0, 0.473);

}

.iconoTier {
    color: black;
    font-size: 4vw;
    float: left;
}

.colortextoTier {
    color: white;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vw;

}

.margenestablas {
    margin-left: 5vw;
}

.margenesiconos {
    margin-top: 3vw;
    margin-left: 3vw;
    margin-bottom: 3vw;
    color: white;


}

.pruebadeltitlo {
    width: 50%;
    float: right;

}

.tdTierNumero {
    vertical-align: middle !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    width: 15%;
}

.tdTierfoto {
    vertical-align: middle !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    width: 60%;
}

.tdTierNombre {
    vertical-align: middle !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    width: 30%;
}

.fototier {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    height: 7vw;

}

.TablaTier {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.table {
    margin-bottom: 0 !important;
}

.NombrePersTier {
    font-size: 1.4rem;
    color: white;
}

.elominarborders {
    border-top: none !important;

}

.fondotabla {

    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 62%, rgba(156, 156, 156, 1) 85%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 62%, rgba(156, 156, 156, 1) 85%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 62%, rgba(156, 156, 156, 1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#9c9c9c", GradientType=1);
}

@font-face {
    font-family: "BioLetraBD";
    src: url(LeviReBrushed.ttf);

}

.TituloDesc {

    color: white;
}






@media screen and (max-device-height: 640px) and (max-device-width: 360px) {}

@media screen and (max-device-height: 731px) and (max-device-width: 411px) {

    /*pixel*/

}


@media screen and (max-device-height: 568px) and (max-device-width: 320px) {

    /*iphone5*/

}

@media screen and (max-device-height: 736px) and (max-device-width: 414px) {

    /*iphone6/7/8*/

}

@media screen and (max-device-height: 1024px) and (max-device-width: 768px) {}


@media screen and (max-device-height: 667px) and (max-device-width: 375px) {

    /*iphone6/7/8*/

}

@media screen and (max-device-height: 812px) and (max-device-width: 375px) {}


.DivPrincTier {

    background-color: #b0b0b0;
    color: #111;
    font-family: Arial;
    font-size: 17px;
    background-image: url(https://media.eventhubs.com/images/design_site_bg2.png);
    background-repeat: repeat-x;
    background-position: left top;
    margin: 0;
    padding: 0;

}