@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700);

@font-face {
    font-family: "mkserif";
    src: url(/fonts/serif.woff2) format("woff2"), url(/fonts/serif.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@-ms-viewport {
    width: device-width
}


.character-thumb {
    width: 100px;
    margin: 5px;
    position: relative;
    will-change: transform;
    transition: opacity .25s linear, -webkit-transform .25s ease;
    transition: opacity .25s linear, transform .25s ease;
    transition: opacity .25s linear, transform .25s ease, -webkit-transform .25s ease;
    box-shadow: 6px 6px 15px 0 #000
}

.character-thumb:not(.visible) {
    opacity: .5;
    -webkit-transform: translateZ(-60px);
    transform: translateZ(-60px);
    z-index: -1;
    box-shadow: 10px 10px 10px 0 transparent
}

/*Esto es el triangulo */
.character-thumb:not(.locked)>div:first-child:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-color: transparent transparent #152229;
    border-style: solid;
    border-width: 0 0 10px 10px;
    transition: all .2s ease
}

/*FONDO AMARILLO */

.character-thumb.active .img-wrapper {
    border-color: #d38606;
    background: radial-gradient(ellipse at center, #593f13 0, #191105 100%)
}

.character-thumb.active .img-wrapper:after {
    border-color: transparent transparent #d38606
}

.character-thumb .img-wrapper {
    border: 1px solid #152229;
    background: radial-gradient(ellipse at center, #1e2938 0, #080808 100%);
    overflow: hidden;
    position: relative;
    transition: opacity .25s
}

.character-thumb .img-wrapper img {
    display: block;
    width: 100%;
    border-radius: 1px;
    overflow: hidden;
    will-change: transform;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease
}

.character-thumb .label {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: .65rem;
    margin-top: 1px;
    letter-spacing: .05rem;
    position: absolute;
    bottom: 5px;
    width: 100%
}

@media (min-width:768px) {
    .character-thumb .label {
        font-size: .7rem;
        margin-top: 5px
    }
}

@media (min-width:992px) {
    .character-thumb .label {
        transition: opacity .3s, -webkit-transform .3s ease;
        transition: opacity .3s, transform .3s ease;
        transition: opacity .3s, transform .3s ease, -webkit-transform .3s ease;
        -webkit-transform-origin: center center -10px;
        transform-origin: center center -10px;
        font-weight: 700;
        line-height: 1;
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}


.character-thumb:hover:not(.locked) {
    text-decoration: none
}

.character-thumb:hover:not(.locked):not(.locked)>div:first-child:after {
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #d38606
}

.character-thumb:hover:not(.locked) .img-wrapper {
    border-color: #d38606;
    background: radial-gradient(ellipse at center, #593f13 0, #191105 100%)
}

.character-thumb:hover:not(.locked) .img-wrapper img {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1)
}


@media (min-width:992px) {
    .character-thumb.locked .img-wrapper {
        height: 110px
    }

    .character-thumb.locked .img-wrapper>svg {
        width: 75px
    }
}
