.fondoTablaTK{


    
}
.fondo2TK{  
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) , rgba(0,0,0,1) );
}
.fotoLogoTK{
    float: right;
    margin-top: 1.5vw;
}
.FotoTK{
    cursor: pointer;
    width: 6vw !important;
    min-width: 5vw !important;
    height: 6vw !important;
    background-color: rgba(0, 0, 0, 0.637);
    border: 2px black solid;

}.DivNegroTransTK{

    background-color: rgba(0, 0, 0, 0.233)!important;


}
.DivFONDOTK{
    color: black;
    text-align: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100% !important;

    background-repeat: repeat-x;
    background-image: url(https://static.bandainamcoent.eu/high/tekken/tekken-7/06-characters/t7_characters_background.jpg), linear-gradient(#6e859c, #c0ccd8) ;
}

/*    font-family: Mental;
*/


@font-face {
    font-family: "Letratk";
    src: url(trump_gothic_west.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
.NombrePesonajeTK{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    font-size: 1vw;

}
.LetraTituloTK{
    font-weight: 800!important;
   font-style: oblique!important;
    letter-spacing: 6px;
    font-family: "Letratk";
    font-style: normal;
    font-weight: 400;
        text-transform: uppercase;
color:white;
font-size: 3vw;
}