.fondoTablaTK{


    
}
.fondo2TK{  
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) , rgba(0,0,0,1) );
}
.fotoLogoTK{
    float: right;
    margin-top: 1.5vw;
}
.FotoTK{
    cursor: pointer;
    width: 6vw !important;
    min-width: 5vw !important;
    height: 6vw !important;
    background-color: rgba(0, 0, 0, 0.637);
    border: 2px black solid;

}.DivNegroTransTK{

    background-color: rgba(0, 0, 0, 0.233)!important;


}
.DivFONDOTK{
    color: black;
    text-align: center;

    width: 100% !important;
    background-image: url(https://static.bandainamcoent.eu/high/tekken/tekken-7/06-characters/t7_characters_background.jpg), linear-gradient(#6e859c, #c0ccd8) ;
}


/*        position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



    background-repeat: repeat-x;
*/
.TextoPersonajeTituloTK{
    font-size:3vw!important;
    margin-left: -2vw;

    color: white;
    text-shadow: 0.1em 0.1em 0.4em rgb(241, 121, 9), 0 0 0.3em rgb(241, 121, 9);
}
.fondonombreTK{

    width: 100%;
    max-width: 100%;
    margin: 2% auto 0 auto;
    color: #fff;
     font-family: "Letratk";
    padding-top:-3px;
    letter-spacing: 0.5em;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;

    position: relative;
    padding-top:0.5vw ;
    padding-bottom:0.1vw ;
    background: linear-gradient(90deg, #7a0606, #c91111 50%, #c91111 50%, #7a0606);




}

@font-face {
    font-family: "Letratk";
    src: url(trump_gothic_west.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
.NombrePesonajeTK{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    font-size: 1vw;
font-weight: 800;

}

.PruebadefondoAtaques{

    background-image: url(https://tk7.tekken.com/assets/images/common/stone.jpg), linear-gradient(#6e859c, #c0ccd8) ;

}
.LetraTituloTK{
    font-weight: 800!important;
   font-style: oblique!important;
    letter-spacing: 6px;
    font-family: "Letratk";
    font-style: normal;
    font-weight: 400;
        text-transform: uppercase;
color:white;
font-size: 3vw;
}