

@font-face {
    font-family: "LetraBD";
    src: url(LeviReBrushed.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
.LetraTituloBD{
font-size: 5vw;
    font-family: "LetraBD";

}

.TituloAtaquesGB {

    background-color: gray;
    color: white;
    font-weight: 100;
    font-size: 2.5vw;
    border-radius: 0px;
    font-family: 'Marcellus', serif;
    padding-bottom: 0.5vw !important;
    padding-top: 0.2vw !important;

}

.colorFondoAtaquesGB {
    background-color: #81abcb;
    border: 1px white solid !important;
    font-weight: 600 !important;
    font-family: 'Marcellus', serif !important;
}

.nombreAtaquesGB {
    font-family: 'Tenor Sans', sans-serif;
    background-color: white;
    border-bottom: 1px black solid !important;

    color: black !important;

}

.fondoTablaGB {
    border-radius: 100 !important;
}


.TextoTituloDB{
    color:white;
    margin-top: 3vw;
    margin-left: -3vw!important;

}
.FotoBD2{
    width:90px!important;
    min-width:90px!important;
    height:90px!important;
    border-radius:25px 0 !important; 

    margin:4px;

    transform: skewX(-15deg);
    cursor:pointer;
}
.FotoBD{
    width:90px!important;
    min-width:90px!important;
    height:90px!important;
    border-radius:0 25px !important; 

    margin:4px;
    transform: skewX(15deg);


    cursor:pointer;

}


.fotoLogoBD{
    margin-left: -3vw!important;
}




  
  .DIVFOTO:hover{
    transform: scale(1.1)!important;
  }
  
 