.stage {}
/*
.PersonajesKI {

  background-image: url("./b-Aria.jpg") !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
  background-position: center center;

  background-attachment: fixed;
  height: 38.5vw;

}
*/
.nombreAtaquesKI{
-webkit-box-shadow: inset 0 0 0 3px cadetblue;
-moz-box-shadow: inset 0 0 0 3px cadetblue;
box-shadow: inset 0 0 0 3px cadetblue;
width: 58%;

}


.btn-ki.large>span>span {
    min-width: 32.59452vw;
    margin: 11px !important;
    margin-top: 15px!important;
    background-image: url(./bkg-btn-ki-large.png);
    font-size: 1.3vw;
    line-height: 2vw;
    background-repeat: repeat;
    border: 1px solid #44d4d9;
}
.btn-ki.large.ghostpulse, .btn-ki.large.ghostpulse span {
    outline: 0;
}
.btn-ki.large>span {
    border: 2px solid #fff;
    width: 100%;
    font-family: "FontT";
    text-align: center;
}

.btn-ki.large {
    margin: 0;
    padding: 0;
    border: none;
    color: #fff;
    display: block;
}
.pra {
  position: absolute;
  ;
  left: 0;
  top: 0;
}
.colorFondoAtaquesKI{
 
    background-color: rgba(72, 191, 196, 0.247);
    color:white!important;
    
    
    -webkit-box-shadow: inset 0 0 0 2px black;
    -moz-box-shadow: inset 0 0 0 2px black;
    box-shadow: inset 0 0 0 2px black;
}

.T{

    background-color: rgba(0, 0, 0, 0.137)!important;

}
.rune {
  position: relative;
  height: 25.7vw;
  width: auto;
 
  left: -16vw !important;
}

/*  height:79.5vh;*/
.character {
  position: relative;
  bottom: 25.7vw;
  right: 18vw !important;
  height: 38.5vw;
  width: auto;
  z-index: 2;

}
.character:hover,.rune{
    transform:translate(-30px,0px);
    -ms-transform:translate(-30px,0px);  
    -moz-transform:translate(-30px,0px);  
    -webkit-transform:translate(-30px,0px);
    -o-transform:translate(-30px,0px);

}

@font-face {
  font-family: "FontT";
  src: url("American\ Captain.otf");
}

.NombreKI {
  font-family: "FontT";
  color: white;
  font-size: 4vw;
  text-align: left;

}